@model PagedList.IPagedList<TesteProgramacao.Models.Transacao>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Transações";
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["MensagemErro"]
        <button type="button" class="btn btn-sm close-alert" aria-label="Close">x</button>
    </div>
}

<div class="fixedButtons">
    <button class="btn btn-primary glyphicon glyphicon-plus" style="height:50px; margin-bottom:10px" onclick="location.href='@Url.Action("Create", "Transacao")';" />
    <button class="btn btn-success glyphicon glyphicon-print" type="submit" onClick="window.print()" />
</div>

<div class="justify-content-center container-fluid filterLists">
    <div style="margin:20px">
        <form asp-action="Index" method="get" style="display: flex; flex-direction: row;">
            <label style="margin-top:6px">Quant. Registros</label>
            <input name="PaginaTamanho" class="form-control" type="number" style="width: 80px; margin-left: 10px; margin-right: 20px" value="@ViewBag.CurrentFilter3" />
            <label style="margin-top:6px">De</label>
            <input name="FiltroInicio" class="form-control" type="datetime-local" style="width: 180px; margin-left: 10px; margin-right: 20px" />
            <label style="margin-top:6px">Até</label>
            <input name="FiltroFim" class="form-control" type="datetime-local" style="width:180px;margin-left:10px;margin-right:20px" />
            <input class="btn btn-primary btn-outline-danger col-12 mt-2" type="submit" value="Buscar" />
        </form>
    </div>
</div>

<table class="table" id="Transacao">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Data", "Index", new { sortOrder = ViewBag.DataParm })
            </th>
            <th>
                @Html.ActionLink("Historico", "Index", new { sortOrder = ViewBag.HistoricoParm })
            </th>
            <th>
                Valor
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Historico)
                </td>
                <td>
                    @{var valor = @item.ValorTotal();}

                    @if (valor.Contains("-"))
                    {
                        <span style="color:red">@Html.DisplayFor(modelItem => valor) </span>
                    }
                    else
                    {
                        <span>@Html.DisplayFor(modelItem => valor) </span>
                    }
                </td>
                @*<td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                        <button type="button" class="btn btn-link" data-item="@item.Id">Deletar</button>
                    </td>*@
            </tr>
        }

    </tbody>
</table>

<div class="row justify-content-between" style="padding-left:20px; padding-right:200px; margin-top:-10px !important">
    <div class="col-2">
        <div class="col" style="float:left">Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount</div>
    </div>
    <div class="col-4">
        <div class="col saldo"> Saldo:  @ViewBag.Total </div>
    </div>
</div>

<div>@Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina, sortOrder = ViewBag.CurrentSort, FiltroInicio = ViewBag.CurrentFilter, FiltroFim = ViewBag.CurrentFilter2, paginaTamanho = ViewBag.CurrentFilter3 }))</div>
