@model IEnumerable<TesteProgramacao.Models.Transacao>
@{
    ViewBag.Title = "Transações";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Adicionar Transação", "Create")
</p>
<table class="table" id="Transacao">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Notas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conciliado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Notas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conciliado)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                <button type="button" class="btn btn-link" data-item="@item.Id">Deletar</button>
            </td>
        </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".btn-link").click(function () {
                var id = $(this).attr('data-item');
                if (confirm("Você tem certeza que gostaria de excluir este registro?")) {
                    $.ajax({
                        method: "POST",
                        url: "/Transacao/Delete/" + id,
                        success: function (data) {
                            $("#Conta tbody > tr").remove();
                            $.each(data, function (i, transacao) {
                                $("#Conta tbody").append(
                                    "<tr>" +
                                    "   <td>" + transacao.Nome + "</td>" +
                                    "   <td>" + transacao.Codigo + "</td>" +
                                    "   <td>" +
                                    "       <a href='/Transacao/Edit/" + transacao.Id + "'>Editar</a> |" +
                                    "       <button type="button" class="btn btn - link" data-item="" + conta.Id + "">Deletar</button>" +
                                    "   </td>" +
                                "</tr>"
                                );
                            });
                        },
                        error: function (data) {
                            alert("Houve um erro na pesquisa.");
                        }
                    });
                }
            });
        });
    </script>
}