@model PagedList.IPagedList<TesteProgramacao.Models.Conta>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Contas";
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["MensagemErro"]
        <button type="button" class="btn btn-sm close-alert" aria-label="Close">x</button>
    </div>
}

<div class="fixedButtons">
    <button class="btn btn-primary glyphicon glyphicon-plus" style="height:50px; margin-bottom:10px" onclick="location.href='@Url.Action("Create", "Conta")';"/>
    <button class="btn btn-success glyphicon glyphicon-print" type="submit" onClick="window.print()" />
</div>

<div class="justify-content-center container-fluid filterLists">
    <div style="margin:20px">
        <form asp-action="Index" method="get" style="display: flex; flex-direction: row;">
            <label style="margin-top:6px">Quant. Registros</label>
            <input name="PaginaTamanho" class="form-control" style="width: 80px; margin-left: 10px; margin-right: 20px" value="" />
            <label style="margin-top:6px" for="buscarPorTipo">Tipo </label>
            <select name="tipoString" class=" form-control" style="width: 120px; margin-left: 10px; margin-right: 10px">
                <option value=""> Selecione </option>
                <option value="Nome"> Nome </option>
                <option value="Codigo"> Codigo </option>
            </select>
            <input name="searchString" class="form-control" style="width: 80px; margin-right: 20px" value="" />
            <input class="btn btn-primary btn-outline-danger col-12 mt-2" type="submit" value="Buscar" />
        </form>
    </div>
</div>
<table class="table" style="margin-bottom:0px !important" id="Conta">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Nome", "Index", new { sortOrder = ViewBag.NomeParm })
            </th>
            <th>
                @Html.ActionLink("Codigo", "Index", new { sortOrder = ViewBag.CodigoParm })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Codigo)
                </td>
                <td>
                    @Html.ActionLink("Ver extrato", "Index", "Transacao", new { id = item.Id }, null) |
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Apagar", "Apagar", new { id = item.Id}, new { onclick = "return confirm('Tem certeza que deseja deletar esta conta?');" })

                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
    @Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina, sortOrder = ViewBag.CurrentSort, tipoString = ViewBag.CurrentFilter, searchString = ViewBag.CurrentFilter2, paginaTamanho = ViewBag.CurrentFilter3 }))
</div>