@model PagedList.IPagedList<TesteProgramacao.Models.Conta>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Contas";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Adicionar Conta", "Create")
</p>
<table class="table" id="Conta">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Nome", "Index", new { sortOrder = ViewBag.NomeParm })
            </th>
            <th>
                @Html.ActionLink("Codigo", "Index", new { sortOrder = ViewBag.CodigoParm })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Codigo)
                </td>
                <td>
                    @Html.ActionLink("Ver extrato", "Index", "Transacao", new { id = item.Id }, null) |
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                    <button type="button" class="btn btn-link" data-item="@item.Id">Deletar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
    @Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina, sortOrder = ViewBag.CurrentSort, CurrentFilter = ViewBag.CurrentFilter }))
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".btn-link").click(function () {
                var id = $(this).attr('data-item');
                if (confirm("Você tem certeza que gostaria de excluir este registro?")) {
                    $.ajax({
                        method: "POST",
                        url: "/Conta/Delete/" + id,
                        success: function (data) {
                            $("#Conta tbody > tr").remove();
                            $.each(data, function (i, conta) {
                                $("#Conta tbody").append(
                                    "<tr>" +
                                    "   <td>" + conta.Nome + "</td>" +
                                    "   <td>" + conta.Codigo + "</td>" +
                                    "   <td>" +
                                    "       <a href='/Conta/Edit/" + conta.Id + "'>Editar</a> |" +
                                    "       <button type="button" class="btn btn - link" data-item="" + conta.Id + "">Deletar</button>" +
                                    "   </td>" +
                                "</tr>"
                                );
                            });
                        },
                        error: function (data) {
                            alert("Houve um erro na pesquisa.");
                        }
                    });
                }
            });
        });
    </script>
}